me {
     clip-path: ellipse(102% 100% at 47.92% 0%);
     clip-path: ellipse(102% 100% at 47.4% 0%);
     /* background-color: rgb(3, 3, 31); */
     height: 80vh;
}

.color {
     background-color: rgb(3, 3, 31);
}

@media screen and (max-width: 772px) {
     .me {
          /* background-color: rgb(3, 3, 31); */
          height: 120vh;
     }
}

fo {
     /* clip-path: ellipse(138% 100% at 51.76% 100%); */
}